.chatMessagesAndSenderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: orange 5px solid; */
}

.chatMessages {
    height: 50%;
    height: 75vh;
    margin-top: 10px;
    border: yellow 5px solid;
    width: 100%;

    z-index: 1;

    overflow-y: scroll;
}

.chatSender {
    height: 50%;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chatHead {
    /* border: 5px solid rgb(255, 0, 0); */
    width: 100%;
    height: 100%;
}

.chatMainPage {
    /* border: 5px solid rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    /* min-width: 65vw; */
    color: white;
    /* border: white 5px solid; */
    width: 100%
}

.chatHeadContainer {
    /* border: 5px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;   
}

.chatSendMessage {
    height: 70%;
    width: 100px;
    border-radius: 50px;
    background-color: #555f82; 
    box-sizing:content-box;
    box-shadow: 5px 5px 5px rgb(34, 21, 30);
    display: inline-block;
    border-style: none;
    outline-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

    .chatSendMessage:hover {
        background-color: #7c85a6;
    }
    .chatSendMessage:active {
        background-color: #353d5b;
        box-shadow: 1px 1px 1px rgb(34, 21, 30);
    }

.chatTextInput {
    width: 83%;
    height: 60%;
    padding-left: 20px;
    font-size: 35px;
    color: rgb(154, 172, 182); 
    background:rgb(35, 44, 49);
    border-radius: 25px;
}

.chatFromOther {
    display: flex;
    color:rgb(182, 186, 193);
    background-color: #62656c;
    padding: 10px;
    margin-left: 30px;
    font-size: 30px;
    max-width: 70%;
    border-radius: 20px;
    margin-bottom: 15px;
}

.chatFromSender {
    display: flex;
    color: rgb(182, 186, 193);
    background-color: #373d55;
    padding: 10px;
    margin-right: 30px;
    font-size: 30px;
    max-width: 70%;
    min-width: 5%;
    border-radius: 20px;
    margin-bottom: 15px;
}

/* OUTER : */
.chatMessageSender {
    display: flex;
    justify-content: right;
}

.chatMessageOther {
    display: flex;
    justify-content: left;
}

.chatWholeWrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* border: lime 5px solid; */
}

.chatMessageOther2 {
    display: flex;
    justify-content: left;
    /* min-width: 50vh; */
}

.outerWrapper {
    /* border: red 5px solid; */
    width: 75%;
}



ul {
    list-style-type: none;
}

