#test {
    color: rgb(167, 210, 217);

    color: rgb(2, 179, 212);
    color: rgb(0, 103, 121);

    color: rgb(0, 122, 199);
    color: rgb(0, 69, 112);

    color: rgb(1, 36, 185);
    color: rgb(1, 36, 85);

    background: rgb(35, 44, 49);
}


.main {
    flex-grow: 1;
    padding: 20px;
}


